@model List<GameModel>

<a href='@Url.Action("Index","ImportFusions")' class="btn button"> Import Fusions</a>
@foreach (var game in @Model)
{
    <a href='@Url.Action("Index","GameFusions", new { inGameID = game.ID})' class="btn button">@game.Name</a>
}